/*
General purpose styling
*/

@font-face {
    font-family: "norse-bold";
    src: url(./assets/Norse-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
}

section {
    height: 100vh;
}

a {
    color: rgb(3, 88, 0);
    text-decoration: none;
}

a:hover,
a:active {
    color:rgb(4, 121, 0);
}

.btn {
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    background-color: rgb(3, 88, 0);
    border-radius: 8px;
}

.btn:hover,
.btn:active {
    background-color:rgb(4, 121, 0);
}

/*
Image section styling
*/

.bg-image {
    height: 100%;
    width: 30vw;
    background-image: url("./assets/bg-image.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-header {
    height: 150px;
    font-size: 72px;
    font-family: norse-bold, serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 50%);
    padding: 12px 0;
    margin-top: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-header > img {
    height: 150px;
}

.bg-footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 50%);
}

/*
Content section styling
*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-header {
    padding: 0 50px;
    font-size: 24px;
}

.content-header > h3 {
    font-size: 22px;
}

.content-form {
    padding: 0 50px;
    background-color: rgb(228, 228, 228);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.content-form > h4 {
    font-size: 24px;
}

.content-footer {
    padding: 0 50px;
}

/*
Form styling
*/

form {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 20px;
}

form > div {
    position: relative;
    margin: 10px 0;
}

label {
    position: absolute;
    top: -20px;
}

input {
    outline: none;
    padding: 7px 70px 7px 0;
    margin: 0 70px 0 0;
    border-radius: 3px;
    border-color: #fff;
}

form input:hover,
form input:active {
    border-color: royalblue;
}

.error:invalid {
    border-color: red;
}